:root {
  --white: #fdf8fe;
  --black: #010101;
  --light-green: #8abebb;
  --light-purple: #8a4da0;
  --very-light-purple: #303030;
  --dark-light-purple: #161615;
  --red: #d1362d;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-light-purple);
  height: 100%;
}

.calculator {
  background-color: var(--black);
  border-radius: 4%;
  padding-top: 10%;
  min-width: 470px;
  max-width: 470px;
}

.display {
  margin-top: 1%;
  background-color: var(--black);
  color: #acc3c1;
  height: 30%px;
  font-size: 6rem;
  padding-right: 2%;
  font-weight: 5rem;
  text-align: right;
}

.number-pad {
  margin-top: 5%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 20%;
  align-items: center;
  display: grid;
  grid-gap: 4%;
  grid-template-columns: repeat(4, 0.2fr);
  grid-template-rows: repeat(5, 0.1fr);
  color: var(--light-green);
}

.button, .button-option{
  align-items: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  background-color: var(--dark-light-purple);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  font-size: 2.5rem;
  height: 6rem;
  transition: filter 0.3s;
  width: 6rem;
}

.button:hover, .button-option:hover{
  background-color: var(--very-light-purple);
}


.operation {
  background-color: var(--dark-light-purple);
  color: var(--light-purple);
}

.ac {
  color: var(--red);
}

.equal {
  background-color: var(--light-purple);
  color: var(--white);
}

.option {
  border-bottom: 2px solid var(--dark-light-purple);
  text-align: right;
}

.button-option {
  height: 3rem;
  width: 3rem;
  font-size: 2rem;
  background-color: transparent;
}

.delete {
  color: var(--light-purple);
}